@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	padding:0;
}

#Headline1 h1{
	text-align: center;
	color: #000;
	}
#Headline1{
	text-align:center;
	background-color: #33F;
}

table{
	margin-left:100px;
	margin-top:50px;
	}
	
#generate button {
	margin-left: 300px;
	font-size: 18px;
	text-align: center;
	width: 100px;
	border-radius: 6px;
	background-color: #33C;
	color: #FFF;
	line-height: 30px;
	height: 40px;
	margin-top: 50px;
	margin-bottom: 100px;
	margin-bottom:200px;
}

#detail button:hover {
	background-color: #CCC;
	color: #009;
}

